class MockApiService {
  getProducts() {
    return Observable.of([{
      title: 'Angular T-Shirt',
      price: 2499,
      popular: false,
      rating: 4,
      img: 'https://raw.githubusercontent.com/victormejia/victormejia.github.io/master/assets/images/ngshirt.png'
    }]);
  }
}

describe('AppComponent', () => {
  beforeEach(() => {
    TestBed.configureTestingModule({
      declarations: [
        AppComponent
      ],
      // Tells the compiler not to error on unknown elements and attributes
      schemas: [NO_ERRORS_SCHEMA],
      providers: [
        { provide: ApiService, useClass: MockApiService }
      ]
    });
  });

});